.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login--btn{
    background-color: #DCDCDC;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 28px;
    border-radius: 20px;
    font-size: small;
}
.login--btn:hover{
    background-color: #F5F5F5;
}
